@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
  background-color: #1a1a19;
  color: #ffffff;
  min-height: 100dvh;
}

/* Responsive: max 768px (HP) */
@media screen and (max-width: 768px) {
  #loader-overlay {
    position: fixed;
    z-index: 9999;
    background: #1a1a19;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
  }

  .loader-logo {
    width: 250px;
    height: auto;
    animation: pulse 1.4s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  .navbar {
    background-image: url("../img/mainheadernaboengs.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* isi navbar rata tengah horizontal */
    align-items: center; /* isi navbar rata tengah vertical */
    padding: 60px 50px;
    position: relative;
  }

  .account svg {
    width: 0;
    height: 0;
    position: absolute;
  }

  .account {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account ion-icon {
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #account-popup {
    position: absolute;
    top: 40px;
    right: 100px;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 12px;
    width: 150px;
    z-index: 999;
  }

  #account-popup p {
    margin: 0;
    font-size: 14px;
    word-break: break-all;
  }

  .hidden {
    display: none;
  }
  .menu-icon {
    font-size: 20px;
  }

  #tabs {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    border-bottom: 1px solid #444;
  }

  .tab {
    flex: 1;
    padding: 18px 0;
    background: none;
    border: none;
    color: #888888;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: "Inter", sans-serif;
  }

  .tab.active {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
  }

  .tab ion-icon {
    margin-bottom: 2px;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 16px;
  }

  #add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #357a38;
    border: none;
    border-radius: 30%;
    width: 90px;
    height: 90px;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
  }

  #add-button:hover {
    transform: scale(0.9);
  }

  .hidden {
    display: none !important;
  }

  .tab.form {
    background: #1f1f1f;
    padding: 20px;
    display: none; /* Hidden default */
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #333;
  }

  .popup-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  #close-popup {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  #close-popup ion-icon {
    font-size: 40px;
    transition: all 0.3s;
  }

  #close-popup ion-icon:hover {
    transform: scale(0.9);
  }

  .popup {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #00000099;
    backdrop-filter: blur(4px);
    display: none !important;
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
    z-index: 999;
  }

  .popup-content {
    -webkit-tap-highlight-color: transparent;
    background: #1f1f1f;
    padding: 30px 20px;
    border-radius: 12px;
    width: 100%;
    height: 100dvh;
    max-width: 500px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    overflow-y: hidden;
    margin: auto;
    height: auto;
    max-height: 90vh;
    border-bottom: 7px solid #357a38;
  }

  .popup.show {
    display: flex !important;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-container label {
    font-weight: 600;
    font-size: 19px;
    color: #ffffff;
    text-align: left;
  }

  .form-container input {
    font-family: "Inter", sans-serif;
    padding: 10px;
    border: 1px solid #234123;
    border-radius: 8px;
    background: #2c2c2c;
    color: #fff;
    font-size: 16px;
  }

  .simpan-container {
    display: flex;
    justify-content: center;
  }

  #simpan-button {
    font-family: "Inter", sans-serif;
    width: auto;
    padding: 8px 6px;
    color: #ffffff;
    background: #357a38;
    border: none;
    border-radius: 6px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 19px;
  }

  .tabungan-list {
    display: flex !important;
    flex-direction: column !important;
    gap: 25px !important;
    margin: 30px 20px;
  }

  .tabungan-item {
    position: relative;
    display: flex;
    height: auto;
    align-items: center;
    background: #f8f8f8;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .tabungan-item {
    position: relative;
    display: flex;
    height: auto;
    align-items: center;
    background: #f8f8f8;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease;
    overflow: hidden; /* biar pseudo-element gak keluar */
    cursor: pointer;
  }

  .tabungan-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: #357a38;
    transition: all 0.3s ease;
    border-radius: 0 0 8px 8px;
  }

  .tabungan-item:hover {
    filter: brightness(90%);
  }

  .tabungan-item:hover::after {
    height: 5px;
  }

  .tabungan-item img {
    width: 100px; /* ✅ Width fix */
    flex-shrink: 0; /* ✅ Supaya dia gak mengecil saat container dipaksa sempit */
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 5px;
  }

  .tabungan-info {
    width: 100%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 5px;
    margin-left: 10px;
  }

  .nama {
    font-weight: 900;
    font-size: 19px;
  }

  .target {
    font-size: 15px;
  }

  .perhari {
    margin-bottom: clamp(6px, 2vw, 10px);
    font-size: 15px;
  }

  .estimasi-hari {
    color: #444;
    margin-top: clamp(6px, 1.5vw, 10px);
    font-size: 13px;
  }

  .estimasi-wrapper {
    border-top: 2px solid #e0e0e0;
    margin-bottom: 10px;
    min-height: 1rem;
    flex-shrink: 0;
    margin: 0;
    width: 100%;
  }

  .estimasi-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  #add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #357a38;
    border: none;
    border-radius: 30%;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
  }
}

@media screen and (max-width: 400px) {
  #add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #357a38;
    border: none;
    border-radius: 30%;
    width: 70px;
    height: 70px;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
  }
}
